In [1]:
# Importamos las bibliotecas necesarias: pandas para trabajar con datos en forma de tablas y numpy para operaciones numéricas.
import pandas as pd
import numpy as np

In [2]:
# Leemos el archivo CSV "AccidentesAviones.csv" y carga los datos en un DataFrame llamado "df".
df = pd.read_csv("AccidentesAviones.csv")
df

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,5003,"March 28, 2021",1835,"Near Butte, Alaska",Soloy Helicopters,?,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,5004,"May 21, 2021",1800,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,?,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,5005,"June 10, 2021",0800,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,?,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,5006,"July 04, 2021",11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,?,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,?,?,3,"While attempting to land at Jolo Airport, the ..."
5007,5007,"July 06, 2021",1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [3]:
# Dropeamos la primera columna que es solo los indices duplicados
df.drop(columns=["Unnamed: 0"], inplace=True)
df

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,"March 28, 2021",1835,"Near Butte, Alaska",Soloy Helicopters,?,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,"May 21, 2021",1800,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,?,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,"June 10, 2021",0800,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,?,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,"July 04, 2021",11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,?,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,?,?,3,"While attempting to land at Jolo Airport, the ..."
5007,"July 06, 2021",1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [4]:
# como los nombres de las columnas no son claros ni comparten un formato entre si los cambiamos
df.rename(columns={'HORA declarada': "hora_declarada", 'Ruta': "ruta", 'OperadOR':"operador", 'flight_no':"numero_de_vuelo", 'route':"tipo_de_ruta",
       'ac_type':"tipo_de_aeronave", 'registration': "matricula", 'cn_ln': "numero_construccion_ldm", 'all_aboard': "total_a_bordo", 'PASAJEROS A BORDO': "pasajeros_a_bordo",
       'crew_aboard':"tripulacion_a_bordo", 'cantidad de fallecidos': "total_fallecidos", 'passenger_fatalities': "pasajeros_fallecidos",
       'crew_fatalities': "tripulacion_fallecidos", 'ground':"suelo", 'summary':"resumen"}, inplace= True)
df

,fecha,hora_declarada,ruta,operador,numero_de_vuelo,tipo_de_ruta,tipo_de_aeronave,matricula,numero_construccion_ldm,total_a_bordo,pasajeros_a_bordo,tripulacion_a_bordo,total_fallecidos,pasajeros_fallecidos,tripulacion_fallecidos,suelo,resumen
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,"March 28, 2021",1835,"Near Butte, Alaska",Soloy Helicopters,?,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,"May 21, 2021",1800,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,?,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,"June 10, 2021",0800,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,?,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,"July 04, 2021",11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,?,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,?,?,3,"While attempting to land at Jolo Airport, the ..."
5007,"July 06, 2021",1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [5]:
# como los valores nulos de nuestro dataset estan representados con un signo de interrogacion los cambiamos a valores de tipo NaN
df.replace("?", np.nan, inplace = True)
df.isnull().sum()

fecha                         0
hora_declarada             1504
ruta                          5
operador                     10
numero_de_vuelo            3682
tipo_de_ruta                762
tipo_de_aeronave             13
matricula                   272
numero_construccion_ldm     667
total_a_bordo                17
pasajeros_a_bordo           221
tripulacion_a_bordo         219
total_fallecidos              8
pasajeros_fallecidos        235
tripulacion_fallecidos      235
suelo                        44
resumen                      59
dtype: int64

In [6]:
# Ahora como primer paso la columna que a priori mas modificaciones debe tener es la columna "hora declarada"
df["hora_declarada"].sample(20)
# Asi que imprimimos un sample de esta columna para ver que valores deben de modificarse
# Para que poco a poco todos queden con el mismo formato de tipo "##:##"

4493      1600
471       1050
4049       NaN
2522      2309
4960      1216
2807      1234
1615       NaN
1350     08:30
1339       NaN
276        NaN
4845      0800
2550       NaN
3497      0923
480       1650
2184      0630
158     c 9:15
4178      1122
4506      1030
1489      1115
3095       NaN
Name: hora_declarada, dtype: object

In [7]:
# Como primer cambio realizamos el reemplazo de las letras "c" sueltas en nuestro df que no proporcionan ninguna info importante 
# Y ademas entorpecen nuestro labor
df["hora_declarada"] = df["hora_declarada"].str.replace ("c", "", regex= True)

In [8]:
# Procedemos a imprimir otro sample para verificar otros tipos de modificaciones que debemos realizar
df["hora_declarada"].sample(20)

4870      0449
595        NaN
3248       NaN
3713      0840
371       0330
1625      0753
3198      0900
493      20:40
1389      0222
2577      2148
2793      2212
3322       NaN
2629       NaN
1496       NaN
3650      0529
1701      0523
2446      1500
4335      0208
290       0010
797        NaN
Name: hora_declarada, dtype: object

In [9]:
# Como tenemos valores con ":" fuera de lugar los vamos a eliminar
df["hora_declarada"] = df["hora_declarada"].str.replace (":", "", regex= True)

In [10]:
df["hora_declarada"].sample(20)

3225    1737
2517    1430
488     1730
756     1510
2619    0937
2694    1643
4605    1730
612     0915
733     1320
4027     NaN
601     1205
4408    1158
4802    1357
2483    2128
837     1930
3077    1949
2744    1347
509      NaN
4841     NaN
4343    1846
Name: hora_declarada, dtype: object

In [11]:
# Para este punto en principio nuestros datos deberian ser en su totalidad de una longitud igual a 4
df[df["hora_declarada"].str.len()>4 ]

,fecha,hora_declarada,ruta,operador,numero_de_vuelo,tipo_de_ruta,tipo_de_aeronave,matricula,numero_construccion_ldm,total_a_bordo,pasajeros_a_bordo,tripulacion_a_bordo,total_fallecidos,pasajeros_fallecidos,tripulacion_fallecidos,suelo,resumen
84,"September 14, 1923",1800,"Near Ivinghoe, Buckinghamshire, England",Daimler Airways,NaN,Croydon - Manchester,de Havilland DH-34,G-EBBS,29,5,3,2,5,3,2,0,Crashed while attempting a forced landing afte...
87,"December 23, 1923",0230,Over the Mediterranean Sea,Military - French Navy,NaN,Toulon - Algiers,Zeppelin Dixmunde (airship),L-72,NaN,52,NaN,NaN,52,NaN,NaN,0,"Crashed while on a flight from Toulon, France ..."
95,"December 24, 1924",1200,"Purley, England",Imperial Airways,NaN,London - Paris,de Havilland DH-34B,G-EBBX,36,8,7,1,8,7,1,0,"Shortly after taking off, witnesses observed a..."
117,"October 21, 1926",1315,English Channel,Imperial Airways,NaN,Croydon - Paris,Handley Page W-10,G-EBMS,W10/3,12,10,2,0,0,0,0,The plane was on a flight from London to Paris...
157,"August 25, 1928",1100,"Near Port Townsend, BC, Canada",British Columbia Airways,NaN,Victoria - Seattle,Ford 4-AT-B Tri Motor,G-CATX,4-AT-26,7,5,2,7,5,2,0,Crashed into Puget Sound in dense fog 12 miles...
169,"December 01, 1928",1000,"Spur, Texas",Sunbeam Air Transport Co.,NaN,San Antonio - Amarillo - Tulsa - Denver,Ford 4-AT-B Tri Motor,NC7862,4-AT-47,5,4,1,5,4,1,0,The aircraft crashed and burned while en route...
214,"December 30, 1929",1700,"Amarillo, Texas",Trans Continental Air Transport,NaN,Demonistration,Travel Air B6000,NaN,NaN,5,3,2,5,3,2,0,Crashed onto a golf course while on approach ...
228,"August 22, 1930",1545,"Iglau, Czechoslovakia",Ceskoslovenske Aerolinie,NaN,Prague - Bratislava,Ford 5-AT-C Tri Motor,OK-FOR,5-AT-050,11,10,1,10,9,1,0,Crashed when the pilot made a sharp turn to av...
275,"January 29, 1932",1600,"Lebec, California",Century Pacific Lines,NaN,"San Francisco - Bakersfield - Los Angeles, CA",Stinson SM-6000B,NC10813,5034,8,7,1,8,7,1,0,"Crashed into a canyon, in mountains, during a ..."
288,"July 16, 1932",0800,"Mount El Plomo, near Vitacura, Chile",Panagra,NaN,"Santiago, Chile - Mendosa, Argentina",Ford 5-AT-C Tri Motor,NC403H,5-AT-062,9,6,3,9,6,3,0,The aircraft crashed in a severe snowstorm in ...
329,"December 30, 1933",1300,"Near Ruysselede, Belgium",Imperial Airways,NaN,"Brussels, Belgium - Croydon, England",Avro 10,G-ABLU,528,10,8,2,10,8,2,0,Crashed into a field in desnse fog after hitt...
493,"February 02, 1938",2040,"Off San Clemente Island, California",Military - U.S. Navy / Military - U.S. Navy,NaN,Training,Consolidated PBY-2 / Consolidated PBY-2,04062 / 0463,NaN,14,0,14,11,0,11,0,The two aircraft crashed in mid-air in heavy r...
528,"August 29, 1938",2300,"Near Tucumcari, New Mexico",Transcontinental &Western Air,NaN,Burbank - Winslow - Albuquerque,Ford Tri-motor,NC17316,410,11,8,3,0,0,0,0,The mail /passenger transport crashed in a fie...
542,"December 08, 1938",0900,"Off Kuba Island, Okinawa",Japan Aviation Corporation,NaN,Fukuoka - Taihoku,Nakajima A-T2,J-BDOH,1481-1,15,12,3,10,7,3,0,Crashed into the East China Sea after experien...
577,"February 27, 1940",1000,"Near Bucaramanga, Columbia",SCADTA,NaN,Bogota - Cucuta,Boeing 247D,C-79,NaN,11,9,2,11,9,2,0,The plane hit a mountain in the Andes near To...
613,"August 10, 1941",2035,"Arran, Scotland",Military -Royal Air Force,NaN,NaN,Consolidated LB-30A Liberator,AM261,NaN,22,17,5,22,17,5,0,"Crashed into a mountain ridge in rain, low vis..."
614,"August 14, 1941",2040,"Ayr, Scotland",Military - Royal Air Force,NaN,NaN,Consolidated LB-30A Liberator,AM260,NaN,22,NaN,NaN,22,NaN,NaN,0,Crashed and burned on takeoff at Heathfield ai...
687,"August 01, 1943",1500,"Ploesti, Romania",Military - U.S. Army Air Forces,NaN,Bombing run,Consolidated B-24,NaN,NaN,10,0,10,10,0,10,63,Crashed into a women's prison after being hit ...
858,"April 05, 1946",1115,"Rabat, Malta",Military - Royal British Navy,NaN,NaN,Vickers Wellington bomber,HE-274,NaN,4,0,4,4,0,4,16,The Wellington was engaged in exercises with a...
863,"May 16, 1946",0100,"Richmond, Virginia",Viking Air Transport,NaN,Richmond - Atlanta,Douglas DC-3,NC53218,19626,27,25,2,27,25,2,0,Engine trouble after takeoff forced the crew t...
881,"August 20, 1946",06;15,"Rouen, France",British Overseas Airways,NaN,Palestine - London,Avro 691 Lancastrian 1,G-AGMF,1186,9,0,9,8,0,8,0,Descended through clouds and crashed. Prematur...
887,"September 05, 1946",0200,"Elko, Nevada",Trans-Luxury Airlines,850,New York City - San Francisco,Douglas DC-3 (C-47-A5-DL),NC57850,9214,22,19,3,21,18,3,0,The aircraft lost contact with the ground in f...
898,"October 03, 1946",0330,"Stephenville, Newfoundland",American Overseas Airlines,NaN,Gander - Shannon,Douglas C-54E-5-DO,NC90904,27290,39,31,8,39,31,8,0,Took off from Gander and flew in a straight li...
911,"November 14, 1946",2015,"Amsterdam, Netherlands",KLM Royal Dutch Airlines,NaN,London - Amsterdam,Douglas C-47A-90 DL (DC-3),PH-TBW,20122,26,21,5,26,21,5,0,The flight crashed during a third landing atte...
913,"November 26, 1946",1030,"San Jose, Costa Rica",Lineas Aéreas Costarricenses LACSA,NaN,NaN,Douglas DC-3 (C-47A-90-DL),RX-76,20590,22,20,2,22,20,2,0,Struck Cedrel mountain while making an approac...
926,"December 28, 1946",0209Z,"Near Shannon, Ireland",Trans Continental and Western Air,6963,Paris - Shannon,Lockheed 049 Consellation,NC86505,2026,23,14,9,13,9,4,0,Crashed 1 mile from the airport on an island s...
930,"January 05, 1947",2000,"Carmel, New Jersey",Nationwide Air Transport,NaN,Miami - Raleigh - Washington,Douglas DC-3,N50046,34373,23,20,3,3,2,1,0,The aircraft diverted from Washington to Millv...
1094,"January 17, 1949",1340,"Atlantic Ocean, off Bermuda",British South American Airways,NaN,Bermuda - Kingston,Avro 688 Tudor 4B,G-AGRE,1253,20,13,7,20,13,7,0,Lost at sea on a flight from Bermuda to Kingst...
1120,"July 12, 1949",0350Z,"Near Bombay, India",KLM Royal Dutch Airlines,NaN,Delhi - Bombay,Lockheed L-749-79-33 Constellation,PH-TDF,2558,45,34,11,45,34,11,0,While circling in a blinding monsoon rainstorm...
1125,"August 02, 1949",1130,"Jaquirana, Brazil",Varig,NaN,Sao Paulo - Porto Alegre,Curtiss C-46D-10-CU,PP-VBI,33100,36,30,6,5,4,1,0,"Twenty minutes before arriving a Porto Alegre,..."
1138,"October 28, 1949",0250,"San Miguel Island, Azores",Air France,NaN,Paris - Santa Maria - New York City,Lockheed 749-79-33 Constellation,F-BAZN,2546,48,37,11,48,37,11,0,While attempting for the third time to land at...
1139,"November 01, 1949",1145,"Arlington, Virginia",Eastern Air Lines / Military - Bolivian Air Force,537,Boston - Washington D.C. - New Orleans,Douglas C-54B / P-38,N88727/NX26927,18365 /,55,51,4,55,51,4,0,Midair collision. The P-38 hit the airliner fr...
1308,"February 16, 1952",1734Z,"Near Burgio, Italy",Hunting Air Travel,NaN,Nice - Malta,Vickers 614 Viking 1,G-AHPI,142,31,26,5,31,26,5,0,Hit the north slope of La Cinta mountain range...
1340,"August 21, 1952",0100Z,"Off Trapani, Italy",Airwork,NaN,Blackbushe - Malta - Khartoum,Handley Page HP-81 Hermes 4A,G-ALDF,HP-81/7,57,51,6,7,1,6,0,After failure of all four engines the plane di...
1356,"November 22, 1952",2015,"Mount Gannett, Alaska",Military - U.S. Air Force,NaN,NaN,Douglas C-124A Globemaster,51-107A,464096,52,41,11,52,41,11,0,"Bound for Elmendorf Air Force Base, the aircra..."
1360,"December 20, 1952",0630,"Moses Lake, Washington",Military - U.S. Air Force,NaN,NaN,Douglas C-124A Globemaster,50-100,43238,115,105,10,87,82,5,0,Within two minutes after takeoff the aircraft ...
2396,"March 20, 1969",0200,"Near Aswan, Egypt",United Arab Airlines,NaN,Jeddah - Aswan,Ilyushin IL-18D,SU-APC,188011301,105,98,7,100,93,7,0,A sand storm in the Aswan area caused the visi...
3144,"September 22, 1981",1200,"Near Babaeski, Turkey",Military - Turkish Air Force,NaN,NaN,Northrop F-5A,NaN,NaN,0,0,0,0,0,0,40,The fighter crashed into a village after the p...
3546,"March 20, 1989",0700,"Pohang, South Korea",Military - U.S. Marine Corps,NaN,NaN,Sikorsky CH-53D,157140,NaN,34,30,4,19,NaN,NaN,0,Crashed and burned in mountainous terrain duri...
4742,"August 26, 2009",0500Z,"Nganga Lingolo, Congo",Aero Fret Business,NaN,Pointe Noire - Brazzaville,Antonov An-12BK,TN-AIA,6344607,7,2,5,7,2,5,0,The cargo plane crashed 7 miles SE of Brazzavi...

In [12]:
# Podemos notar en este caso que tenemos aun valores por corregir y proseguimos con esto
df["hora_declarada"] = df["hora_declarada"].str.replace (";", "", regex= True)
df["hora_declarada"] = df["hora_declarada"].str.replace (" ", "", regex= True)
df["hora_declarada"] = df["hora_declarada"].str.replace ("Z", "", regex= True)

In [13]:
# volvemos a verificar que nuestros datos tengan maximo una longitud de 4
df[df["hora_declarada"].str.len()>4 ]

Empty DataFrame
Columns: [fecha, hora_declarada, ruta, operador, numero_de_vuelo, tipo_de_ruta, tipo_de_aeronave, matricula, numero_construccion_ldm, total_a_bordo, pasajeros_a_bordo, tripulacion_a_bordo, total_fallecidos, pasajeros_fallecidos, tripulacion_fallecidos, suelo, resumen]
Index: []

In [14]:
# Imprimimos nuestro dataframe completo para seguir evaluando posibles modificaciones
df

,fecha,hora_declarada,ruta,operador,numero_de_vuelo,tipo_de_ruta,tipo_de_aeronave,matricula,numero_construccion_ldm,total_a_bordo,pasajeros_a_bordo,tripulacion_a_bordo,total_fallecidos,pasajeros_fallecidos,tripulacion_fallecidos,suelo,resumen
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20,NaN,NaN,14,NaN,NaN,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,"March 28, 2021",1835,"Near Butte, Alaska",Soloy Helicopters,NaN,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,"May 21, 2021",1800,"Near Kaduna, Nigeria",Military - Nigerian Air Force,NaN,NaN,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,"June 10, 2021",0800,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,NaN,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,"July 04, 2021",1130,"Patikul, Sulu, Philippines",Military - Philippine Air Force,NaN,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,NaN,NaN,3,"While attempting to land at Jolo Airport, the ..."
5007,"July 06, 2021",1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [15]:
# Sacamos la info de nuestro dataframe para ver que tipo de datos tenemos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fecha                    5008 non-null   object
 1   hora_declarada           3504 non-null   object
 2   ruta                     5003 non-null   object
 3   operador                 4998 non-null   object
 4   numero_de_vuelo          1326 non-null   object
 5   tipo_de_ruta             4246 non-null   object
 6   tipo_de_aeronave         4995 non-null   object
 7   matricula                4736 non-null   object
 8   numero_construccion_ldm  4341 non-null   object
 9   total_a_bordo            4991 non-null   object
 10  pasajeros_a_bordo        4787 non-null   object
 11  tripulacion_a_bordo      4789 non-null   object
 12  total_fallecidos         5000 non-null   object
 13  pasajeros_fallecidos     4773 non-null   object
 14  tripulacion_fallecidos   4773 non-null   object
 15  suelo                    4964 non-null   object
 16  resumen                  4949 non-null   object
dtypes: object(17)
memory usage: 665.2+ KB

In [16]:
# como ya tenemos la columna hora lista para ser convertida a un formato tiempo seguimos con ese paso:
df["hora_declarada"]=pd.to_datetime(df["hora_declarada"], format='%H%M').dt.time
df

,fecha,hora_declarada,ruta,operador,numero_de_vuelo,tipo_de_ruta,tipo_de_aeronave,matricula,numero_construccion_ldm,total_a_bordo,pasajeros_a_bordo,tripulacion_a_bordo,total_fallecidos,pasajeros_fallecidos,tripulacion_fallecidos,suelo,resumen
0,"September 17, 1908",17:18:00,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",NaT,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",NaT,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",18:30:00,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20,NaN,NaN,14,NaN,NaN,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,"March 28, 2021",18:35:00,"Near Butte, Alaska",Soloy Helicopters,NaN,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,"May 21, 2021",18:00:00,"Near Kaduna, Nigeria",Military - Nigerian Air Force,NaN,NaN,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,"June 10, 2021",08:00:00,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,NaN,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,"July 04, 2021",11:30:00,"Patikul, Sulu, Philippines",Military - Philippine Air Force,NaN,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,NaN,NaN,3,"While attempting to land at Jolo Airport, the ..."
5007,"July 06, 2021",15:00:00,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [17]:
# Ademas de la columna de "hora_declarada" tenemos esta columna "fecha" que tambien debe ser convertida a un formato de tiempo
df['fecha'] = pd.to_datetime(df['fecha'], format='%B %d, %Y', errors='coerce')
df

,fecha,hora_declarada,ruta,operador,numero_de_vuelo,tipo_de_ruta,tipo_de_aeronave,matricula,numero_construccion_ldm,total_a_bordo,pasajeros_a_bordo,tripulacion_a_bordo,total_fallecidos,pasajeros_fallecidos,tripulacion_fallecidos,suelo,resumen
0,1908-09-17,17:18:00,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1909-09-07,NaT,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,1912-07-12,06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,1913-08-06,NaT,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,1913-09-09,18:30:00,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20,NaN,NaN,14,NaN,NaN,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,2021-03-28,18:35:00,"Near Butte, Alaska",Soloy Helicopters,NaN,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,2021-05-21,18:00:00,"Near Kaduna, Nigeria",Military - Nigerian Air Force,NaN,NaN,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,2021-06-10,08:00:00,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,NaN,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,2021-07-04,11:30:00,"Patikul, Sulu, Philippines",Military - Philippine Air Force,NaN,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,NaN,NaN,3,"While attempting to land at Jolo Airport, the ..."
5007,2021-07-06,15:00:00,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [18]:
# Como logramos convertir de manera exitosa nuestra columna "fecha" el siguiente paso es verificar si hubieron fallos
# durante el proceso
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fecha                    5008 non-null   datetime64[ns]
 1   hora_declarada           3504 non-null   object
 2   ruta                     5003 non-null   object
 3   operador                 4998 non-null   object
 4   numero_de_vuelo          1326 non-null   object
 5   tipo_de_ruta             4246 non-null   object
 6   tipo_de_aeronave         4995 non-null   object
 7   matricula                4736 non-null   object
 8   numero_construccion_ldm  4341 non-null   object
 9   total_a_bordo            4991 non-null   object
 10  pasajeros_a_bordo        4787 non-null   object
 11  tripulacion_a_bordo      4789 non-null   object
 12  total_fallecidos         5000 non-null   object
 13  pasajeros_fallecidos     4773 non-null   object
 14  tripulacion_fallecidos   4773 non-null   object
 15  suelo                    4964 non-null   object
 16  resumen                  4949 non-null   object
dtypes: datetime64[ns](1), object(16)
memory usage: 665.2+ KB

In [20]:
# Reacomodamos las columnas de nuestro dataframe para tener un orden logico en ellas
nuevo_orden_columnas = ["fecha", "hora_declarada", "ruta", "operador", "numero_de_vuelo", "tipo_de_ruta", "tipo_de_aeronave", "matricula", "numero_construccion_ldm", "pasajeros_a_bordo", "tripulacion_a_bordo", "total_a_bordo", "pasajeros_fallecidos", "tripulacion_fallecidos", "total_fallecidos", "suelo", "resumen"]
df = df.reindex(columns=nuevo_orden_columnas)
# Ademas de eso dropeamos las columnas que consideremos inutiles
df.drop(columns=["numero_de_vuelo"])
# E imprimimos nuevamente el dataframe

,fecha,hora_declarada,ruta,operador,tipo_de_ruta,tipo_de_aeronave,matricula,numero_construccion_ldm,pasajeros_a_bordo,tripulacion_a_bordo,total_a_bordo,pasajeros_fallecidos,tripulacion_fallecidos,total_fallecidos,suelo,resumen
0,1908-09-17,17:18:00,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1,1,1,2,1,0,1,0,"During a demonstration flight, a U.S. Army fly..."
1,1909-09-07,NaT,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,SC1,NaN,0,1,1,0,0,1,0,Eugene Lefebvre was the first pilot to ever be...
2,1912-07-12,06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,NaN,NaN,0,5,5,0,5,5,0,First U.S. dirigible Akron exploded just offsh...
3,1913-08-06,NaT,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,NaN,NaN,0,1,1,0,1,1,0,The first fatal airplane accident in Canada oc...
4,1913-09-09,18:30:00,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),NaN,NaN,NaN,NaN,20,NaN,NaN,14,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,2021-03-28,18:35:00,"Near Butte, Alaska",Soloy Helicopters,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,5,1,6,4,1,5,0,The sightseeing helicopter crashed after missi...
5004,2021-05-21,18:00:00,"Near Kaduna, Nigeria",Military - Nigerian Air Force,NaN,Beechcraft B300 King Air 350i,NAF203,FL-891,7,4,11,7,4,11,0,"While on final approach, in poor weather condi..."
5005,2021-06-10,08:00:00,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,12,2,14,11,1,12,0,The plane was carrying military personnel and ...
5006,2021-07-04,11:30:00,"Patikul, Sulu, Philippines",Military - Philippine Air Force,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,88,8,96,NaN,NaN,50,3,"While attempting to land at Jolo Airport, the ..."
5007,2021-07-06,15:00:00,"Palana, Russia",Kamchatka Aviation Enterprise,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,22,6,28,22,6,28,0,The passenger plane crashed into the top of a ...

In [22]:
# Por ultimo corregimos el tipo de dato en nuestras columnas numericas
columnas_convertir = ["pasajeros_a_bordo", "tripulacion_a_bordo", "total_a_bordo",
                      "pasajeros_fallecidos", "tripulacion_fallecidos", "total_fallecidos",
                      "suelo"]

# Aplicar la conversión a las columnas seleccionadas
df[columnas_convertir] = df[columnas_convertir].apply(pd.to_numeric, errors='coerce', downcast='integer')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fecha                    5008 non-null   datetime64[ns]
 1   hora_declarada           3504 non-null   object
 2   ruta                     5003 non-null   object
 3   operador                 4998 non-null   object
 4   numero_de_vuelo          1326 non-null   object
 5   tipo_de_ruta             4246 non-null   object
 6   tipo_de_aeronave         4995 non-null   object
 7   matricula                4736 non-null   object
 8   numero_construccion_ldm  4341 non-null   object
 9   pasajeros_a_bordo        4787 non-null   float64
 10  tripulacion_a_bordo      4789 non-null   float64
 11  total_a_bordo            4991 non-null   float64
 12  pasajeros_fallecidos     4773 non-null   float64
 13  tripulacion_fallecidos   4773 non-null   float64
 14  total_fallecidos         5000 non-null   float64
 15  suelo                    4964 non-null   float64
 16  resumen                  4949 non-null   object
dtypes: datetime64[ns](1), float64(7), object(9)
memory usage: 665.2+ KB

In [24]:
# Exportamos los datos ya normalizados
df.to_csv("df.csv", index= False)